.banner{
  font-family: Pacifico, cursive;
  position: relative;

  &__image{
    width: 100%;
  }

  &__title{
    font-size: 3em;
    color: #fdfdfd;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 75);
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
