.who-we-are{

  &__title{
    font-family: Pacifico, cursive;
    color: #8D0606;
    font-size: 51px;
    text-align: center;
    padding: 20px;
  }

  &__description{
    text-align: center;
    color: #8C8888;
    font-size: 18px;
  }

  &__group{
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }

  &__image{
    border-radius: 50%;
  }

  &__name{
    text-align: center;
    font-family: Pacifico, cursive;
    padding: 10px;
    color: #8D0606;
    font-size: 28px;
  }
}
